.vs
obj
bin
AutoUpdater.csproj.user
/AutoUpdater.Avalonia/Properties/launchSettings.json
/AutoUpdater.Avalonia/Properties/PublishProfiles/*.user
/AutoUpdater.Avalonia/AutoUpdater.Avalonia.csproj.user
/Packages
